.cards-about-slide {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  background-color: #141b22;
  margin-bottom: 2%;
  padding: 20px;
  transition: box-shadow 0.5s ease-in-out;
}
.cards-about-slide:hover {
  box-shadow: rgba(255, 255, 255, 0.6) 0px 10px 25px;
}

.cards-about-slide::before,
.cards-about-slide::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  background-color: transparent;
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out,
    border-color 0.5s ease-in-out;
}

.cards-about-slide::before {
  top: 0;
  left: 0;
  border-top: 4px solid transparent;
  border-left: 4px solid transparent;
}

.cards-about-slide::after {
  bottom: 0;
  right: 0;
  border-bottom: 4px solid transparent;
  border-right: 4px solid transparent;
}

.cards-about-slide:hover::before,
.cards-about-slide:hover::after {
  width: 40px;
  height: 40px;
}

.cards-about-slide:hover::before {
  border-top-color: #21e786;
  border-left-color: #21e786;
}

.cards-about-slide:hover::after {
  border-bottom-color: #21e786;
  border-right-color: #21e786;
}

.cards-about-slide:not(:hover)::before,
.cards-about-slide:not(:hover)::after {
  width: 0;
  height: 0;
  border-color: transparent;
}
.cards-about-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.carousel-track {
  display: flex;
  gap: 10px;
}


.carousel-container {
  overflow: hidden;
  width: 100%;
  position: relative;
  white-space: nowrap;
}

.carousel-track {
  display: flex;
  gap: 20px;
  animation: scroll-left 50s linear infinite;
}

@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* Animation inverse */
.carousel-track.reverse {
  animation: scroll-right 50s linear infinite;
}

@keyframes scroll-right {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}


.strong-cards-slide {
  width: 100%;
  font-size: 20px;
  color: white;
  text-align: left;
  margin-top: 9%;
}
.strong-cards-slide:hover {
  color: #21e786;
  cursor: pointer;
}
.custom-swiper-container .swiper-slide {
  background: #141b22;
  margin: 1% 0 2% 2%;
}
