.container-community{
    margin-top: 10%;
    margin-inline: 10%;
    position: relative;
    z-index: 5; /* Assure que ContactCommunity est au-dessus du footer */
}
.container-background-img {
    background-image: url('../../assets/pictures/bg-action-box.png'), linear-gradient(268.28deg, #2333de -1.34%, #0abe66);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    margin-top: -105px;
    padding: 40px 15px;
    text-align: center;
    position: relative;
    z-index: 10;
}
.container-community .title-h6{
    margin: 0;
}
.container-community .button{
    background-color: #5865F2;
    margin-right: 2%;
}
.container-community .button2:hover{
    background: none;
}
@media (max-width: 1199px){
    .container-background-img{
        margin: 0;
    }
}