.swiper-container {
  width: 100%;
  padding-bottom: 70px;
  position: relative;
}
.swiper-container .cards-about-slide{
  margin-top: 0;
}
.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 18px;
  background: transparent;
  position: relative;
  margin: 0 0 2% 0;
  z-index: 99;
}
.swiper-button-next {
  position: absolute;
  top: auto;
  bottom: 10px;
  left: calc(50% + 10px);
}
.title-h5 {
  color: #fff;
  font-size: 24px;
  text-align: lefts;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: #21e786;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 30px;
  font-weight: bold;
  color: black;
}
.swiper-button-prev {
  position: absolute;
  top: auto;
  bottom: 10px;
  left: calc(50% - 50px);
}
.li_txt {
  margin-top: 10px;
  list-style-type: none;
  padding: 0;
  text-align: left;
}
.li_txt li {
  font-size: 16px;
  font-family: "poppins";
  font-weight: 400;
  color: #555;
  padding-left: 20px;
  background: url("../../assets/logo/logoBinabox(1).PNG") no-repeat left center;
  background-size: 15px 15px;
  line-height: 26px;
  color: #bfc0c2;
  margin-bottom: 7px;
}
.progress-bar-container {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  height: 5px;
  background: lightgray;
  z-index: -10;
}

.progress-bar-fill {
  width: 50%;
  height: 100%;
  background: #21e786;
}
.path-container {
  position: absolute;
  top: 10%;
  left: 94%;  
  transform: translateX(-50%);  
  width: 100%;
  z-index: 6; 
}

.log-svg {
  position: relative;
  z-index: 5;
}

