.span-partner{
    color: #21e786;
}
.title-h6{
    font-family: "Bakbak One";

}
.partner{
    margin-inline: 8%;
    margin-bottom: 2%;
}
.partner .swiper-slide{
    background: none;
    margin: 0;
}
.partner .grey-background{
    background-color: #141B22;
}
.partner img{
    text-align: left;
    padding: 20px 0px;
}