.title {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
}
.txt {
  font-size: 60px;
  color: white;
  font-weight: bold;
}
.txt_span {
  color: #21e786;
  font-size: 60px;
}
.txt2 {
  color: white;
  font-size: 25px;
  white-space: nowrap;
}
.word-container {
  display: inline-block;
  position: relative;
  height: 70px;
}
.word {
  position: absolute;
  width: 100%;
  text-align: center;
}
.button_txt {
  display: flex;
  gap: 5%;
}
.style_button {
  position: relative;
  overflow: hidden;
  display: inline-block;
  padding: 11px 24px;
  color: #141b22;
  text-decoration: none;
  font-family: "Bakbak One", serif;
  font-weight: 400;
  background-color: #21e786;
  font-weight: bold;
  border: 2px solid #21e786;
  cursor: pointer;
  transition: color 0.4s, border-color 0.4s;
}
.style_button::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #21e786;
  transition: left 0.4s, right 0.4s;
  z-index: -1;
}
.style_button:hover::before {
  left: 0;
  right: 0;
  background-color: transparent;
}
.style_button:hover {
  color: white;
  border-color: #21e786;
  background-color: transparent;
}
.style_button:not(:hover)::before {
  left: 0;
  right: 0;
  background-color: #21e786;
}
.style_button2 {
  position: relative;
  overflow: hidden;
  display: inline-block;
  font-family: "Bakbak One", serif;
  font-weight: 400;
  font-weight: bold;
  border: 2px solid #21e786;
  color: white;
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  padding: 11px 24px;
  border-radius: 5px;
  transition: color 0.4s;
  z-index: 1;
}
.style_button2::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 50%;
  background-color: #21e786;
  transition: all 0.4s;
  z-index: -1;
}
.style_button2:hover::before {
  left: 0;
  right: 0;
}

.style_button2:hover {
  color: white;
}
@media (max-width: 1199px){
  .title{
    margin-top: 5%;
  }
  .txt{
    font-size: 30px;
    /* white-space: wrap; */
  }
  .word{
    top: 51%;
  }
  .txt span{
    font-size: 30px;
  }
}
@media (max-width: 799px){
  .txt{
    font-size: 20px;
  }
  .txt2{
    font-size: 20px;
    white-space: normal;
  }
  .word{
    top: 51%;
  }
  .title{
   margin-left: 3%;
  }
}